Body{
    background: #f4f2ec url(../../../assets/imagens/fundo.png) repeat-x;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

a:link, a:active, a:visited{
    color: #af670a;
    text-decoration: none;

}

/* Elemento com id "container" */
#container{
    width: 1080px;
    margin: 0 auto;
}

/* ---------- HEADER ---------- */

/* Elemento <h1> que descende de elemento com id "logo" */
#logo h1{
    float: left;
}

/* Elemento <a> que descende do elemento com id "logo" */
#logo a{
    width: 248px;
    height: 21px;
    text-indent: -9000px;
    display: block;
    background: url(../../../assets/imagens/logo.png);
}

/* Elemento <header> estilizado */
header{
    padding: 15px 0;
    height: 55px;
}

/* Elemento <ul> que descende de elemento <nav> */
nav ul{
    list-style: none;
    margin: 20px;
    float: right;
}

/* Elemento <li> que descende de elemento <ul> que descende de elemento <nav> */
nav ul li{
    float: left;
}

/* 
Elemento <a> em estado normal que descende de elemento <li> que descende de elemento <ul> 
que descende de elemento <nav>
*/
nav ul li a:link{
    display: block;
    margin-right: 25px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

/* 
Elemento <a> em estado de hover que descende de elemento <li> que descende de elemento <ul> 
que descende de elemento <nav>
*/
nav ul li a:hover{
    border-bottom: 1px solid #4F4F4F;
}

/* ---------- Principal ---------- */

/* Elemento com id "conteudo" */
#conteudo{
    width: 720px;
    float: left;
}

/* Elemento aside estilizado */
aside{
    width: 350px;
    float: right;
    background: #ebe7dd;
}

/* Elemento <section> com id "visita" */
section#visita{
    background: #cdc8b1;
    margin-top: 10px;
    padding: 10px 27px 27px 27px;
}

section#visita h4{
    color: #86521a;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-bottom: 0;
}

/* FORMULÁRIOS */

/* Elemento <input> estilizado */
input{
    height: 20px;
    width: 80px;
    background: #fff;
    border: none;
    font: 1em;
}

/* Elemento <input> com classe "campo" */
input.campo{
    border: 1px solid #ada484;
}

/* Elemento <input> com classe "botao" */
input.botao{
    background: #9b9271;
    margin-top: 5px;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 1.2em;
    cursor: pointer;
}


